/* Tablo için yatay kaydırma çubuğu */
.table-wrapper {
  max-width: 100%; 
  overflow-x: auto; /* Sadece tabloya yatay kaydırma uygular */
  margin: 0 auto; /* Merkezi yerleşim için */
}

/* Dark ve Light Mode Gövdeye Uygun Arka Plan */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: "Arial", sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

  
  .styled-table thead tr {
    background-color: #17872b; /*tablodaki başlıkların yazdığı yerin arka planı*/
    color: #ffffff;
    text-align: left;
  }
  
  /* Hücreler için normal (light) mode ayarları */
  .styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center; /* Metinleri ortalamak için */
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid hsl(139, 65%, 37%);
  }
  
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  /* Dark Mode: Arka Plan ve Metin Renklerini Dark Mode'a göre ayarlıyoruz */
  .dark-mode .styled-table tbody tr {
    background-color: #444; /* Koyu arka plan */
    color: #ffffff; /* Beyaz metin */
  }
  
  .dark-mode .styled-table tbody tr:nth-of-type(even) {
    background-color: #555; /* Koyu modda çift satır koyu renk */
  }
  
  .dark-mode .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #888; /* Koyu modda alt çizgi */
  }
  
  /* Light Mode (varsayılan mod): Tablonun Light Mode'da davranışı */
  .light-mode .styled-table tbody tr {
    background-color: white; /* Açık arka plan */
    color: black; /* Siyah metin */
  }
  
  .light-mode .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3; /* Açık modda çift satır açık renk */
  }
  