body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App header {
  padding-top: 50px;
  text-align: center;
}

/* Bağlantıları saran konteyneri tanımlıyoruz */
.navbar {
  position: fixed; /* Sayfanın üstünde sabit kalmasını sağlar */
  top: 0; /* Üstten mesafeyi ayarlar */
  left: 0; /* Soldan mesafeyi ayarlar */
  padding: 10px; /* İç boşluk */
  background-color: #f0f0f0; /* Arka plan rengi (isteğe bağlı) */
  z-index: 1000; /* Diğer öğelerin üzerinde görünmesini sağlar */
  display: flex; /* Yatay hizalama için flex kullanıyoruz */
  gap: 20px; /* Bağlantılar arasındaki boşluk */
}

/* Bağlantıların stilini ayarlıyoruz */
.navbar a {
  font-size: 18px; /* Font boyutunu büyütür */
  color: #333; /* Yazı rengi */
  text-decoration: none; /* Alt çizgi kaldırır */
}

/* Bağlantıya hover efekti */
.navbar a:hover {
  color: #007bff; /* Hover rengi */
}
